<footer>
    <div id="btm-nav">
        <div id="copyright">
            Coding Ninjas. All Rights Reserveds
        </div>
        <div id="inner-flex">
            <div><a href="/">Home</a></div>
            <% if(locals.user){ %>
                <div><a href="/users/profile/<%= user.id %>">Profile</a></div>
            <% } else { %>
                <div id="sign-in"><a href="/users/sign-in">Profile</a></div>
            <% } %>            
        </div>
    </div>
</footer>