<h1>Sign In</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" id="email" placeholder="Enter Email"uired>
    <input type="password" name="password" id="password" placeholder="Enter Password" required>
    <input type="submit" value="Sign-In">
</form>

<p>
    <a href="/users/auth/google">Google Sign In/Up</a>
</p>

<p>
    <a href="/users/forget_password">Forget Password</a>
</p>