#btm-nav{
    position: absolute;
    display: flex;
    background-color: grey;
    bottom: 0;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    color: white;
    overflow: hidden;

    div{
        margin-left: 2rem;
    }
    #inner-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        div{
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1rem;
            line-height: 1rem;
            text-decoration: none;
            a:link{
                color: white;
                text-decoration: none;
            }
            a:visited{
                color: white;
            }
        }
    }
}